.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  background: var(--main-color);
}
.navbar .container {
  padding: 0 50px;
  height: 70px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .container .left {
  display: flex;
  align-items: center;
}

.navbar .container .left span {
  margin-right: 20px;
  cursor: pointer;
}

.navbar .container .left img {
  margin-right: 40px;
}

.menu {
  display: flex;
  align-items: baseline;
  list-style: none;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.personIcon {
  position: relative;
  top: 4px;
}
